page-home {
    img{
     
        margin-top:90px;
        float: center;
        border-radius: 100%;
    }

    .bg{
        background: linear-gradient(to bottom, #8d9094,#2e2f31);
        align-items: center;
        text-align: center;
    }

    .container{
        margin-top: 100px;
    }
     .item{
        background-color: transparent;
    }


  .btnDiv{
    margin-left:50px;
    margin-right:50px;
    padding:1px;
  }

    .btn{
       font-size: 15px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    }

    .btnSignUp{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .btnH{
        background-color: transparent;
        color:whitesmoke
    }
    p{
        color: white;
        margin-left:50px;
        margin-top: 25px;
        padding:1px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
  
}
